<h1>All Tags</h1>

<ul id="articles">
  <% @tag.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a Tag", new_tag_path, class: "new_tag" %> 